header {
  display: flex;
  grid-template-columns: 90px 1fr;
  padding: 5%;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 1230px) and (max-width: 5000px) {
  header {
    padding: 30px;
  }
}
