.linea_button {
  display: none;
  position: absolute;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: rgb(59, 57, 57);
  color: white;
}

.bingo_button {
  display: none;
  position: absolute;
  padding: 10px 20px;
  top: 430px;
  margin-left: 20px;
  margin-right: 10px;
  background-color: rgb(59, 57, 57);
  color: white;
}
