.div_ahorcado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_draw {
  position: absolute;
  background-color: rgb(24, 185, 118);
  border-radius: 30px;
  width: 300px;
  bottom: 330px;
  justify-content: center;
  align-items: center;
}

.hidden_word {
  display: flex;
  position: relative;
  margin-top: 42px;
  font-size: 30px;
  letter-spacing: 10px;
}

.word {
  margin-top: 343.1px;
  margin-left: 10px;
}

@keyframes blink {
  0% {
    background-color: rgba(124, 115, 115, 0.1);
  }
  20% {
    background-color: rgba(124, 115, 115, 0.163);
  }
  0% {
    background-color: rgba(124, 115, 115, 0.1);
  }
}

.explanation {
  position: absolute;
  margin-top: 530px;
  font-size: 12px;
  padding: 20px;
  color: rgb(125, 119, 119);
  animation: blink 6s infinite;
  border-radius: 30px;
  cursor: pointer;
}

.advertisment {
  justify-content: center;
  margin: 10px 0 0 0;
}

@media screen and (min-width: 1230px) and (max-width: 5000px) {
  .hidden_word {
    margin-top: 70px;
  }
}
