article {
  position: absolute;
  background-color: rgb(24, 185, 118);
  border-radius: 30px;
  margin: 0px 20px 0 20px;
}

.tresen_table {
  position: relative;
  width: 310px;
  height: 320px;
  margin: 20px 20px 20px 20px;
}

.tresen_td {
  width: 100px;
  height: 100px;
  background-color: rgb(241, 165, 43);
  border: 5px solid rgb(41, 147, 126);
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
}

.tresen_td:hover {
  background-color: rgb(222, 183, 124);
}

.X {
  color: #d51b75;
  cursor: pointer;
}

.O {
  color: #1facd3;
  cursor: pointer;
}

.div_buttons {
  display: flex;
  margin-top: 70px;
  margin-bottom: 40px;
  justify-content: center;
}

button:last-child,
button:first-child {
  padding: 10px 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(59, 57, 57);
  color: white;
}
