.stop_btn {
  position: absolute;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  margin: 540px 100px 10px 130px;
  background-color: var(--grey-buttoncolor_bckgrnd);
  color: white;
  border: 3px solid var(--buttoncolor_border);
}
