.resume_btn {
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  padding: 10px 20px;
  margin-top: 520px;
  margin-left: 100px;
  background-color: var(--grey-buttoncolor_bckgrnd);
  color: white;
  border: 3px solid var(--buttoncolor_border);
}
