img {
  width: 60%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameLogo {
  display: flex;
  width: 80%;
  padding: 7px;
  justify-content: center;
  align-items: center;
}

.treslogo {
  width: 47%;
  cursor: pointer;
}

.ahorcadologo {
  width: 50%;
  cursor: pointer;
}

.bingologo {
  width: 48%;
  border-radius: 15%;
  cursor: pointer;
}
