img {
  width: 60%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.miniNav {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: 0 142px;
}

.gameLogo {
  width: 80%;
  padding: 15px;
}

.treslogo {
  width: 47%;
  cursor: pointer;
  border-radius: 15%;
}

.ahorcadologo {
  width: 50.6%;
  cursor: pointer;
  border-radius: 15%;
}

.bingologo {
  width: 49%;
  border-radius: 15%;
  cursor: pointer;
}
